@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main-back {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../HomeImages/scandinavian-interior-mockup-wall-decal-background\ 1.png);
}

.button {
    background-color: #b88e2f;
    border: none;

}

.mainchild {
    background-color: #fff3e3;
    height: 55vh;
    width: 40%;
}

.sectionNone {
    background-color: #fff3e3;
    min-height: 55vh;
    width: 100%;
}

.medianone {
    display: none;
    /* opacity: 0; */
}

.up {
    background-color: #e97171;
    color: #fbe5e5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new{
    background-color: #2ec1ac;
    color: #fbe5e5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positions {
    position: absolute;
    right: 20px;
    top: 30px;
}
.positions2{
    position: absolute;
    right: 20px;
    top: 30px;
}

.topposition {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    background-color: #555453a0;
    top: 0;
    overflow: hidden;
    transition: all 1s ease;
    /* display: none; */
    opacity: 0;
}
.more{
    color: #c5a356;
    background-color: transparent;
    border: 2px solid #c5a356;
    width: auto;
    
}


.mainorder:hover .topposition {
    /* display: block; */
    opacity: 1;
}

.upcart {
    border: none;
    width: 60%;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: none;
}
.Explore{
    background-color: #b88e2f;
    border: none;
    color: #fff;
}
.bedroom{
    /* line-height: 10px; */
    background-color: #efefefa7;
    height: auto;
    width: 100%;
}
.arrow-right{
    background-color: #b88e2f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.bedclass{
    position: absolute;
    bottom: 10%;
    left: 10%;
    
}
.emailButton{
    outline: none;
    border: none;
    text-decoration: underline;
}
.margintop{
    margin-top: -140px !important;
}













@media (max-width:768px) {
    .mainchild {
        display: none;
    }

    .medianone {
        display: block;
        /* opacity: 1; */
    }
    .margintop{
        margin-top: -10px !important;
    }
    .margintop1{
        margin-top: -110px !important;
    }
    .margintop2{
        margin-top: -120px !important;
    }
}

@media(max-width:576px) {
    .mediatext {
        text-align: center;
    }
}