@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    height: 100%;
    width: 100%;
}

.carts {
    /* position: fixed;
    bottom: 0 !important; */
    height: 110px;
    /* padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #dadada; */
}

.offcanvas-header {
    height: 80px;
}

.offcanvas-body {
    max-height: calc(100vh -190px);
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.offcanvaswidth {
    height: 100vh !important;
    /* width: 35% !important; */
}

.back-main {
    background-image: url(./allImages/Rectangle\ 1.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailButton {
    outline: none;
    border: none;
    text-decoration: underline;
}

.hoverUnderline:hover {
    text-decoration: underline;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}